.create-tile {
  font-size: 24px;
  font-weight: 700;
  color: #1d2129;
  margin-bottom: 16px;
  user-select: none;
}

.info-title {
  font-weight: 500;
  font-size: 20px;
  color: #1d2129;
  margin-bottom: 16px;
}

.resource-group-container {
  margin-bottom: 16px;
}

.authorize-container {
  padding: 24px;
  background-color: #fafbfc;
  border-radius: 8px;
}
